﻿@model RandomQuestions.Web.Models.Scores.CurrentScoreViewModel
@{
    ViewData["Title"] = "CheckAnswers";
    var allTimeScore = Model.allTimeRightAnswers + Model.allTimewrongAnswers;
}

<div class="text-center">
    <h1 class="display-4">Welcome to the FIVE RANDOM QUESTIONaire FROM DIFFERENT CATEGORIES!</h1>
    <h1>TEST CONTENT UPDATED <span class="badge badge-secondary">New</span></h1>
</div>


<div class="container text-center">

    @if (Model.rightAnswers >= 0 && Model.rightAnswers <= 2)
    {
        <div class="p-2">
            <div class="col-sm">
                <div class="alert alert-danger" role="alert">
                    <p class="text-center"> You have scored @Model.rightAnswers out of 5 questions! </p>
                </div>
            </div>
        </div>

    }
    else if (Model.rightAnswers >= 2 && Model.rightAnswers <= 4)
    {
        <div class="p-2">
            <div class="col-sm">
                <div class="alert alert-warning" role="alert">
                    <p class="text-center"> You have scored @Model.rightAnswers out of 5 questions! </p>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="p-2">
            <div class="alert alert-success" role="alert">
                <p class="text-center"> You have scored @Model.rightAnswers out of 5 questions!  </p>
            </div>
        </div>
    }
</div>

<div class="container text-center">
    @if (Model.allTimeRightAnswers >= 0)
    {
        <div class="p-2">
            <div class="col-sm">
                <div class="alert alert-success" role="alert">
                    <p class="text-center"> Your overall score from all the QUIZES IS: @Model.allTimeRightAnswers out of @allTimeScore questions! </p>
                </div>
            </div>
        </div>

    }
</div>


