﻿@model ICollection<RandomQuestions.Web.Models.Questions.QuestionsViewModel>
@{
    ViewData["Title"] = "Home Page";

    int counter = 0;
    string countdown = "countdown";
    string countdownTimer = countdown + counter;

    string name = "my-radio-form";
    int radioCounter = 0;
    string formName = radioCounter + "my-radio-form";
}

<div class="jumbotron pt-6">
    <h1 class="display-4">Hello Question Hero!</h1>
    <p class="lead">This is a simple questionairre of several questions. Please pay attention in order to get higher results.</p>
    <hr class="my-4">
    <a class="btn btn-danger btn-lg" href="https://gitlab.com/xzikoto/randomquestions" role="button">Love me now</a>
</div>



<div class="card text-center">
    <div class="single">
        @foreach (var item in Model)
        {

            <h5 class="card-header">@item.Name</h5>
            <div class="card-body">
                <p class="card-text">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h6 id="@countdown@counter"></h6>
                    </div>
                </div>
                <label class="radio-inline">
                    <input name="@counter@name" class="@counter@name" type="radio" onclick="confirmation(this)" data-correct="@item.CorrectAnswer" value="@item.CorrectAnswer"> @item.CorrectAnswer
                </label>
                </p>
                <p class="card-text">
                    <label class="radio-inline">
                        <input name="@counter@name" class="@counter@name" type="radio" onclick="confirmation(this)" value="@item.IncorrectAnswers.ElementAt(0)"> @item.IncorrectAnswers.ElementAt(0)
                    </label>
                </p>
                <p class="card-text">
                    <label class="radio-inline">
                        <input name="@counter@name" class="@counter@name" type="radio" onclick="confirmation(this)" value="@item.IncorrectAnswers.ElementAt(1)"> @item.IncorrectAnswers.ElementAt(1)
                    </label>
                </p>

                <p class="card-text">
                    <label class="radio-inline">
                        <input name="@counter@name" class="@counter@name" type="radio" onclick="confirmation(this)" value="@item.IncorrectAnswers.ElementAt(2)"> @item.IncorrectAnswers.ElementAt(2)
                    </label>
                </p>

            </div>
            counter += 1;
        }
        <div class="single">
        </div>

        <div class="card text-center">
            <h5 class="card-header"><span class="badge badge-secondary">Ready?</span></h5>
            <div class="card-body">
                <h5 class="card-title">Check your result right now</h5>
                <a href="#" id="newQuiz" class="btn btn-primary">Start a new quiz</a>

                <p class="card-text">Eager to find out new questions and their possibilities?</p>
                <a href="#" id="button" class="btn btn-primary">Finish Quiz</a>
            </div>
        </div>


        @section scripts {
            <script>
                var counter = 0;
                var name = counter + "my-radio-form";
                var countdown = "countdown";
                var timeleft = 10;
                var finished = false;
                //AUTOMATED with FLAG in  order to trigger next funcs


                function Timer() {
                    let dots = 180;
                    var fourtyFive = 45;
                    setInterval(() => {

                        if (dots > 135 && dots <= 180) {

                            document.getElementById("countdown0").innerHTML = fourtyFive + " seconds remaining";
                            dots--;
                            fourtyFive--;
                            

                        }
                        else if (dots > 95 && dots <= 135) {

                            $(".0my-radio-form").attr("disabled", true);

                            document.getElementById("countdown0").innerHTML = "YOU CAN'T RESUBMIT YOUR ANSWER";
                            document.getElementById("countdown1").innerHTML = fourtyFive + " seconds remaining";


                            dots--;
                            fourtyFive--;
                        }
                        else if (dots > 50 && dots <= 95) {

                            $(".1my-radio-form").attr("disabled", true);

                            document.getElementById("countdown1").innerHTML = "YOU CAN'T RESUBMIT YOUR ANSWER";
                            document.getElementById("countdown2").innerHTML = fourtyFive + " seconds remaining";

                            dots--;
                            fourtyFive--;
                        }
                        else if (dots >= 1 && dots <= 50) {

                            $(".2my-radio-form").attr("disabled", true);

                            document.getElementById("countdown2").innerHTML = "YOU CAN'T RESUBMIT YOUR ANSWER";
                            document.getElementById("countdown3").innerHTML = fourtyFive + " seconds remaining";

                            fourtyFive--;
                            dots--;
                        }
                        else {
                            $(".3my-radio-form").attr("disabled", true);

                            document.getElementById("countdown3").innerHTML = "YOU CAN'T RESUBMIT YOUR ANSWER";
                        }
                    }, 1000);
                }


                Timer();


                var answers = [];

                function confirmation(radio) {

                    var ask = confirm("You have chosen " + radio.value + " as your type \n If you have chosen the right type, Click Ok! ");

                    if (ask) {

                        answers.push(radio.value);
                        alert("You clicked " + radio.value);
                    }
                    else {
                        
                        alert("You clicked cancel");
                        radio.checked = false;
                    }
                }




                $("#button").click(function (e) {
                    //e.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: "/Home/CheckAnswers",
                        data: $.param({ data: answers }, true),
                        success: function (result) {
                            window.location.href = '/Home/CurrentScoreWithChart';
                        },
                        error: function (result) {
                            alert('error');
                        }
                    });
                });

                function refreshPage() {
                    window.location.href = '/Home/Index';
                }

                $("#newQuiz").click(function (b) {

                    var sure = confirm("New Quiz? Jump in! PROGRESS from old one will be lost :(")

                    if (sure) {
                        refreshPage.call();
                    }
                });

                $("#button").click(function (b) {

                    var sure = confirm("Are you done? If so, then please click confirm")

                    if (sure) {
                        refreshPage.call();
                    }
                });

            </script>
        }
